header
{
    /*
        đầu tiêu đề
    */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
    color: red;
    background: blanchedalmond;
}
/*
class header :
Chữ ở giữa
chia khoảng trên dưới 10px
phông chữ lớn
độ dày 700 = bold
 */
.map{
    /*
      hiển thị bản đồ
    */
    height: 763px;
    width:870px;
}
/*
    POPUP hiển thị
*/
.ol-popup {
    position: absolute;
    background-color: #eef0ef;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup::after,
.ol-popup::before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup::after {
    border-top-color: #eef0ef;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup::before {
    border-top-color: #eef0ef;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
    color: red;
}

.ol-popup-closer::after {
    content: "Tắt";
}
/*
content trong popup
*/
.popup-content
{
    color: red;
}
h3
{
    text-align: center;
}
input.hop
    {
    width: 30px;
    height: 30px;
    }
.main-trai
{
    /*
    justify-content phân bố bố cục lưới chia mỗi div 1 khoảng
    */
    justify-content: space-between;
    display: flex;
    flex: 1;
    background: #eef0ef;
}
.benduoi
{
    height: 210px;
    justify-content: space-between;
display: flex;
    flex: 1;
    background:#eef0ef;
}
tr,th,table,td
      {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
      }
.info
{
}
.buttonbattat
{
    position: absolute;

}