/* chinh sua the body trong html*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.map {
  height: 700px;
  width: 100%;
  margin-bottom: 50px;
}
.main {
  width: 100%;
  border: 1px solid #ccc;
  background-color:tan  ;
}
.main-gis {
  display: flex;
  justify-content: space-between;
}

.map {
  flex: 3;
}

td {
  font-size: 0.9rem;
}

form > input {
  margin-top: 10px;
}

.main__gis--left {
  border-right: 1px solid #ccc;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 2%;
  padding-left: 6px;
  background-color: tan;
}
header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px 0;
  color: #0b5ed7;

}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 10px;
}

.checkbox_form {
  font-size: 0.9rem;
}

.main__gis--right {
  border-left: 1px solid #ccc;
  position: relative;
}

.main__gis--right > .line {
  object-fit: cover;
}

.main__gis--right > div {
  text-align: right;
}

.main__gis--right > div > h3 {
  border-bottom: 1px solid #ccc;
}

.line > h3 {
  padding: 0 26px;
}

.line {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}


/* tao popup */

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 60px;
  border-radius: 10px;
  border: 1px solid #ccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup::after,
.ol-popup::before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup::after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup::before {
  border-top-color: #ccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer::after {
  content: "";
}

.muiten {
  position: absolute;
}
